body {
    background-color: #abd1ff;
}

h1 {
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    font-size: 48px;
}

p {
    color: white;
}

.link {
    font-size: 36px;
    position: relative;
    text-align: right;
    padding: 29% 26% 30% 16%;
    font-family: helvetica;
    font-weight: bolder;
}
