body {
    background-color: #abd1ff;
}

h1 {
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 1px 1px #999999;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: helvetica;
}

h3 {
    font-size: 18px;
    text-align: left;
    font-family: helvetica;
}

p {
    color: #072b66;
    font-size: 16px;
    font-weight: bold;
    font-family: helvetica;
}

img {
    display: block;
    width: 40%;
    margin: auto;
    border: 4px solid black;
}

.link {
    text-align: right;
    margin-right: 40px;
    margin-top: 50px;

    font-size: 30px;
    font-family: helvetica;
    font-weight: bold;

    text-shadow: 1px 1px #333333;
}

#script {
    margin-top: auto;
    margin-left: 20%;
    margin-right: 20%;
}

#resume {
    text-align: left;
    margin-left: 20%;
}

.resume_section {
    color: #000000;
    font-family: helvetica;
}

.resume_header {
    font-size: 30px;
    color: #000000;
    font-family: helvetica;
}

.corporation {
    font-style: italic;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
}
