body {
    background-color: #abd1ff;
}

h1 {
    font-stretch: extra-expanded;;
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    font-size: 48px;
}

h2 {
    text-align: center;
}

p {
    color: #072b66;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 18px;
}

img {
    display: block;
    width: 30%;
    margin: auto;
    border: 5px solid black;
}

.link {
    font-size: 30px;
    text-align: right;
    padding-right: 20px;
    font-family: helvetica;
    font-weight: bold;
    text: #000000;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
